#header #nav-inner .nav-sub{
	float:left; width:40%;
	 height:100%; 
	 background:#f7f6f4;
}

#header #nav-inner .nav-pic{
	float:left;
	width:60%;
	height:100%;
}
#header #nav-inner .nav-pic img{
	height:100%;
	width: 100%;
}
